.Blue-round-Button2{
    font-size: 18px;
    font-family: Lava Kannada;
    cursor: pointer;
    height: 40px;
    width: 140px;
    background:white; 
    color:  #0825EB;
    border-radius: 50px;
    border:2px solid#0825EB;
}
.Blue-round-Button2:hover {
    background-color:#0825EB; 
    color: white; 
}
.KnowMore{
    margin-left: 5px;
    margin-top: 70px;
    font-size: 18px;
    font-family: Lava Kannada;  
    cursor: pointer;
    height: 40px;
    background:white; 
    color:  #0825EB;
    
    border: 1px solid #0825EB;
}
.KnowMore:hover {
    background-color:#0825EB; 
    color: white; 
}
.ThirdContainer{
    margin: 100px 150px 250px 100px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ThirdContainer p{
    color: #787878;
    font-family: Lava Kannada;
    font-size: 20.307px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 157.58% */ 
}
.ThirdContainer h1{
    color: #000;
font-family: Lava Kannada;
font-size: 54.16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 59.084% */
}
.ThirdContainer h2{
    color: #000;
    font-family: Lava Kannada;
    font-size: 32.16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.ManyPhotos{
    max-width: 50%;
}
.ManyPhotos img{
    width: 80%;
  max-width: 100%;
}
.Content{
    width: 50%;
}
.small-blue{
    width: 50%;
  height: 2px;
  background: #0825EB;
}
.blue{
    color: #0825EB;
}
@media screen and (max-width: 768px){
    .ThirdContainer{
        margin: 76px 49px;
        width: calc(100% - 98px);
        flex-direction: column-reverse;
    }
    .ThirdContainer p{
        width: 100%;
    }
    .ButtonWithText{
        padding: 13px;
    }
    .ManyPhotos {
        width: 100%;
        max-width: 100%;
      }
      .Content{
        width: 100%;
      }
    .RingParent{
    top: 68%;
    right: 55%;
    }
    .ManyPhotos img{
        min-width: 100%;
    }
    .IMG3{
        display: none;
    }
    .IMG1{
        width:20vmin;
    }
    .Crown{
        width: 10vmax;
    }
    .ImageRelative{
        display: none;
    }
    .ManyPhotos {
        margin-top: 41px;
      }
    .KnowMore{
        margin-top: 11px;
    }
    .ThirdContainer h1{
        margin-bottom: 0;
    }
}
