.Blue-round-Button2{
    font-size: 18px;
    font-family: Lava Kannada;
    cursor: pointer;
    height: 40px;
    width: 140px;
    background:white; 
    color:  #0825EB;
    border-radius: 50px;
    border:2px solid#0825EB;
}
.Blue-round-Button2:hover {
    background-color:#0825EB; 
    color: white; 
}
.KnowMore{
    margin-left: 5px;
    margin-top: 70px;
    font-size: 18px;
    font-family: Lava Kannada;  
    cursor: pointer;
    height: 40px;
    background:white; 
    color:  #0825EB;
    border: none;
    border-bottom: 1px solid #0825EB;
}
.KnowMore:hover {
    background-color:#0825EB; 
    color: white; 
}
.ThirdContainer{
    margin: 250px 150px 250px 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ThirdContainer p{
    color: #787878;
    font-family: Lava Kannada;
    font-size: 20.307px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 157.58% */ 
}
.ThirdContainer h1{
    color: #000;
font-family: Lava Kannada;
font-size: 54.16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 59.084% */
}
.ThirdContainer h2{
    color: #000;
    font-family: Lava Kannada;
    font-size: 32.16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.BAAP{ 
    position: relative;
}

.RingParent{
    
    position: absolute;
    z-index: 22;
    top: 66%;
    right: 80%;
}
.ManyRings{
    z-index: 25;
    position: relative;
    display: flex;
    justify-content: center;
}
.RING{
    position: absolute;
}
.ImageRelative{
    border: 2px rgb(230, 7, 219);
    position: absolute;
    height: 338px;
    width: 394px;
    top: -55%;
    left: 32%;
    z-index: -1;
}
.ManyPhotos{
    width:76%  ;
    margin-top: 122px;
}
.IMG1{
    position: relative;
}
.Shit{
    position: absolute;
    left: 51%;
    bottom: -32%;
}
.Crown{
    position: absolute;
    left: -14%;
    top: -14%;
}
.IMG3{
    position: absolute;
    bottom: -71%;
    left: 22%;
  
}
.Content{
    width: 65%;
}
@media screen and (max-width: 768px){
    .ThirdContainer{
        margin: 80px 49px;
    }
    .RingParent{
    top: 68%;
    right: 60%;
    }
    .IMG3{
        display: none;
    }
    .IMG1{
        width:20vmin;
    }
    .Crown{
        width: 10vmax;
    }
    .ImageRelative{
        display: none;
    }
    .ManyPhotos {
        margin-top: 41px;
      }
    .KnowMore{
        margin-top: 11px;
    }
    .ThirdContainer h1{
        margin-bottom: 0;
    }
}
